*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.banners {
  background-color: #f2f3f4;
}
.banners .banners__wrapper {
  display: flex;
  gap: 30px;
}
.banners .banners__wrapper .banner__element {
  position: relative;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-between;
}
.banners .banners__wrapper .banner__element .shadow-bg {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
  height: 100%;
}
.banners .banners__wrapper .banner__element .banner__element-image {
  display: flex;
  transition: transform 1s;
  z-index: 0;
  gap: 30px;
  width: 100%;
  height: 100%;
}
.banners .banners__wrapper .banner__element .banner__button {
  cursor: pointer;
  background-color: #f74137;
  margin-top: 8%;
  color: #ffffff;
  font-family: Metropolis;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 204px;
  height: 55px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: background-color 0.5s;
}
.banners .banners__wrapper .banner__element .banner__text {
  position: absolute;
  padding-top: 1rem;
  text-align: left;
  font-family: Metropolis;
  font-size: 44px;
  font-weight: 700;
  color: #ffffff;
  top: 25%;
  left: 5%;
  z-index: 2;
  white-space: nowrap;
}
.banners .banners__wrapper .banner__element .banner__text .banner__text--light {
  font-weight: 300;
}
.banners .banners__wrapper .banner__element .banner__text .banner__button:hover {
  background-color: #f74137;
  border: none;
}
.banners .banners__wrapper .banner__element:hover .banner__element-image {
  transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 992px) {
  .banners .banners__wrapper {
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .banners .banners__wrapper .banner__element .banner__button {
    width: calc(204px - 55 * (1920px - 100vw) / 680);
    height: calc(55px - 15 * (1920px - 100vw) / 680);
    font-size: calc(14px - 3 * (1920px - 100vw) / 680);
    margin-top: 1.2em;
  }
  .banners .banners__wrapper .banner__element .banner__text {
    font-size: calc(44px - 17 * (1920px - 100vw) / 680);
  }
}
@media (max-width: 767px) {
  .banners {
    position: relative;
  }
  .banners .banners__wrapper {
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
  }
  .banners .banners__wrapper .banner__element {
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .banners .banners__wrapper .banner__element .shadow-bg {
    position: absolute;
    width: 70%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  .banners .banners__wrapper .banner__element .banner__element-image {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .banners .banners__wrapper .banner__element .banner__text {
    font-size: 5.5vw;
  }
  .banners .banners__wrapper .banner__element .banner__text .banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px - 11 * (767px - 100vw) / 680);
    width: calc(15em - 25 * (767px - 100vw) / 680);
    height: calc(4em - 8 * (767px - 100vw) / 680);
    background-color: #f74137;
    border: none;
  }
  .banners .banners__wrapper .banner__element:hover .banner__element-image {
    transform: none;
  }
}/*# sourceMappingURL=banners.css.map */