*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.main__wrapper {
  display: flex;
}

.filters {
  position: relative;
}
.filters__wrapper {
  width: 300px;
  margin-bottom: 22px;
  border-bottom: 1px solid #e1e2e8;
  border: 1px solid #e1e2e8;
  margin-right: 30px;
}
.filters__wrapper .filters__item--list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.filters__wrapper .filters__item--list .filters__item {
  display: flex;
  font-family: Metropolis;
  text-transform: uppercase;
  font-size: 14px;
  height: 60px;
  border-bottom: 1px solid #e1e2e8;
  align-items: center;
  padding-left: 20px;
  transition: font-weight 0.2s;
}
.filters__wrapper .filters__item--list .filters__item:hover {
  font-weight: 700;
}
.filters__wrapper .filters__item--list .filters__item--title {
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #f74137;
}
.filters__wrapper .filters__item--list .filters__item--bottomTitle {
  font-weight: 700;
  border-top: 1px solid #e1e2e8;
  border-bottom: none;
}
.filters__wrapper .filters__item--list .filters__input--description {
  text-transform: none;
  margin-left: 1em;
}
.filters__wrapper .filters__item--list .filters__item--bottomCompanyTitle {
  border: none;
  font-weight: 700;
}
.filters__wrapper .filters__item--list .filters__item--input {
  border: none;
  height: 22px;
  margin-bottom: 13px;
}
.filters__wrapper .filters__item--list .input__wrapper {
  position: relative;
  width: 22px;
  height: 22px;
  border: 1px solid #e1e2e8;
}
.filters__wrapper .filters__item--list .input__wrapper .filters__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filters__wrapper .filters__item--list .input__wrapper .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  background-color: #eee;
  margin-right: 0.5em;
}
.filters__wrapper .filters__item--list .input__wrapper input:checked ~ .checkmark {
  background-color: #f74137;
}
.filters__wrapper .filters__item--list .filters__item--more {
  font-family: Metropolis;
  font-weight: 400;
  font-size: 13px;
  color: #f74137;
  padding: 10px 0px 25px 20px;
}
.filters__wrapper .filters__item--listColor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-left: 1px solid #e1e2e8;
  border-right: 1px solid #e1e2e8;
  padding: 0px 20px 20px 20px;
}
.filters__wrapper .filters__item--listColor .filters__item--inputColor {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.filters__wrapper .filters__item--listColor .filters__item--inputColor::-webkit-color-swatch {
  border: none;
}
.filters__wrapper .filters__item--listFilters {
  padding-left: 20px;
  padding-bottom: 20px;
}
.filters__wrapper .filters__item--listFilters .filters__item--inputNumber {
  font-family: Metropolis;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 40px;
  height: 30px;
  border: 1px solid #e1e2e8;
}
.filters__wrapper .filters__inputNumberWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 24px;
}
.filters__wrapper .filters__inputNumberWrapper .filters__quantity {
  width: 104px;
  height: 46px;
  border: 1px solid #e1e2e8;
  font-family: Metropolis;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.filters__wrapper .filters__inputNumberWrapper .filters__quantity::placeholder {
  color: #111111;
}
.filters__wrapper .filters__price--wrapper {
  position: relative;
}
.filters__wrapper .filters__price--wrapper .filters__price--rangeContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10% 8%;
}
.filters__wrapper .filters__price--wrapper .filters__price--rangeContainer .filters__price--slidersControl {
  position: relative;
  min-height: 20px;
}
.filters__wrapper .filters__price--wrapper .filters__price--rangeContainer .filters__price--slidersControl .fromSlider {
  height: 0;
  z-index: 1;
}
.filters__wrapper .filters__price--wrapper .filters__price--rangeContainer .filters__price--slidersControl .fromSlider::before {
  height: 1;
  z-index: 1;
  background-color: #f74137;
}
.filters__wrapper .filters__price--wrapper .filters__price--formControl {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.filters__wrapper .filters__price--wrapper .filters__price--formControl .filters__price--quantity {
  font-family: Metropolis;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 40px;
  height: 30px;
  border: 1px solid #e1e2e8;
}
.filters__wrapper .filters__price--wrapper .filters__price--formControl .filters__price--quantity::placeholder {
  color: #111111;
}
.filters__wrapper .filters__price--wrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #f74137;
  opacity: 1;
  cursor: pointer;
}
.filters__wrapper .filters__price--wrapper input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #f74137;
  cursor: pointer;
  opacity: 1;
}
.filters__wrapper .filters__price--wrapper input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 100%;
  position: absolute;
  background-color: #e1e2e8;
  pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .filters__wrapper {
    margin-right: 30px;
    width: 270px;
  }
}

/*# sourceMappingURL=filters.css.map */
