*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.footer {
  font-family: Metropolis;
  font-size: 14px;
  background-color: #393e40;
}
.footer .container {
  padding-top: 0;
}
.footer__wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 410px;
}
.footer__wrapper .footer__element {
  width: 444px;
  height: 322px;
  padding-top: 3%;
}
.footer__wrapper .footer__element .footer__item--list {
  list-style: none;
  color: #ffffff;
}
.footer__wrapper .footer__element .footer__item--list .footer__item--title {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding-bottom: 17px;
  margin-bottom: 40px;
}
.footer__wrapper .footer__element .footer__item--list .footer__item--title .footer__link--title {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.footer__wrapper .footer__element .footer__item--list .footer__item--title .footer__arrow {
  display: none;
}
.footer__wrapper .footer__element .footer__item--list .footer__item--title::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 93%;
  border-bottom: 1px solid rgba(225, 226, 232, 0.25);
  z-index: 10;
}
.footer__wrapper .footer__element .footer__item--list .footer__item--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7%;
  border-bottom: 1px solid #f74137;
  z-index: 10;
}
.footer__wrapper .footer__element .footer__item--list .footer__item .footer__link {
  line-height: 3;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.footer__bottom {
  background-color: #ffffff;
}
.footer__bottom--wrapper {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom--right {
  text-decoration: none;
}
.footer__bottom--link {
  text-decoration: none;
  color: #111111;
}

@media (max-width: 767px) {
  .footer .container {
    padding-top: 20px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  .footer__wrapper .footer__element {
    width: 100%;
    height: 100%;
  }
  .footer__wrapper .footer__element .footer__item--list {
    margin-bottom: 1em;
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item {
    display: none;
  }
  .footer__wrapper .footer__element .footer__item--list .visible {
    display: block;
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title {
    position: relative;
    margin-bottom: 15px;
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title .footer__link--title {
    font-size: calc(14px - 2 * (767px - 100vw) / 680);
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title .footer__arrow {
    position: absolute;
    display: inline;
    width: calc(25px - 8 * (767px - 100vw) / 680);
    right: 0;
    bottom: 35%;
    transition: transform 0.35s ease-out;
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title .rotate {
    transform: rotate(180deg) translateY(20%);
    -webkit-transform: rotate(180deg) translateY(20%);
    -ms-transform: rotate(180deg) translateY(20%);
  }
  .footer__wrapper .footer__element:first-of-type {
    padding-top: 0;
  }
  .footer__bottom {
    padding-bottom: calc(85px - 20 * (767px - 100vw) / 680);
  }
  .footer__bottom--wrapper {
    justify-content: center;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;
    font-size: calc(14px - 5 * (767px - 100vw) / 680);
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .footer__wrapper {
    height: calc(410px - 40 * (1920px - 100vw) / 680);
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title {
    margin-bottom: calc(40px - 10 * (1920px - 100vw) / 680);
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item--title .footer__link--title {
    font-size: calc(14px - 1 * (1920px - 100vw) / 680);
  }
  .footer__wrapper .footer__element .footer__item--list .footer__item .footer__link {
    font-size: calc(14px - 1 * (1920px - 100vw) / 680);
  }
}

/*# sourceMappingURL=footer.css.map */
