*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
header {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.menu__searchbar {
  display: none;
}

.menu--top {
  height: 109px;
  width: auto;
}
.menu--top .menu__logo {
  width: 100%;
  height: auto;
}

.menu__navigation {
  position: relative;
}
.menu__navigation .menu__list--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  height: auto;
}
.menu__navigation .menu__list--top .menu__item--burger,
.menu__navigation .menu__list--top .menu__basket--mobile,
.menu__navigation .menu__list--top .menu__item--search {
  display: none;
}
.menu__navigation .menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
.menu__navigation .menu__item .menu__link {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 700;
  align-items: center;
  transition: color 0.25s;
}
.menu__navigation .menu__item .menu__link .menu__caption {
  white-space: nowrap;
}
.menu__navigation .menu__icon {
  font-weight: 500;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.menu__navigation .icon-icon_06:before {
  padding-right: 25%;
  border-right: 1px solid #e1e2e8;
}
.menu__navigation .menu__item--basket {
  width: 100%;
  height: auto;
}
.menu__navigation .basket__wrapper {
  display: flex;
  height: 55px;
  border: 1px solid #e1e2e8;
  width: 100%;
}
.menu__navigation .basket__wrapper .basket__icon {
  position: relative;
  padding-top: 0.3rem;
}
.menu__navigation .basket__wrapper .basket__icon .basket__icon--top {
  display: flex;
  position: absolute;
  width: 26px;
  height: 14px;
  background-color: #9bcb3b;
  color: #ffffff;
  font-size: 10px;
  font-family: Metropolis;
  align-items: center;
  justify-content: center;
  left: 43%;
  bottom: 62%;
  border-radius: 10%;
}
.menu__navigation .basket__wrapper .basket__icon .icon-icon_06 {
  font-size: 2.3rem;
  margin-right: 1rem;
}
.menu__navigation .basket__wrapper .basket__center {
  position: relative;
  margin: auto 0.7vw;
  right: 0.7vw;
  top: 0.15vw;
  white-space: nowrap;
}
.menu__navigation .basket__wrapper .basket__center .basket__center--lowercase {
  line-height: 1.5;
  font-weight: 400;
  text-transform: lowercase;
}
.menu__navigation .basket__arrow {
  display: flex;
  width: 35px;
  height: 55px;
  background-color: #9bcb3b;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.menu__navigation .basket__arrow .icon-icon_04 {
  font-weight: 300;
}

.menu__bottom-wrapper {
  position: relative;
  height: 57px;
  border-top: 1px solid #e1e2e8;
}
.menu__bottom-wrapper .menu__navigation-bottom {
  position: absolute;
  transform: translateY(-50%);
  width: 97%;
  max-width: 1860px;
}
.menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1860px;
}
.menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom .menu__item {
  margin: 0 1.3rem;
  text-align: center;
}

@media (max-width: 767px) {
  .menu__bottom-wrapper {
    display: none;
    height: 0;
  }
  .menu__bottom-wrapper .menu__navigation-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 11;
    width: 73%;
    padding-bottom: calc(78px - 24 * (767px - 100vw) / 680);
    transform: translateY(0);
  }
  .menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom {
    align-items: start;
    flex-direction: column;
    background-color: #ffffff;
    line-height: 5;
  }
  .menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom .menu__item {
    width: 80%;
    border-bottom: 1px solid #e1e2e8;
    justify-content: start;
  }
  .menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom .menu__item .menu__link {
    width: 100%;
    font-size: calc(16px - 8 * (767px - 100vw) / 680);
    white-space: nowrap;
  }
  .menu__navigation--border {
    border-bottom: none;
  }
  .menu {
    position: relative;
    border-bottom: 1px solid #e1e2e8;
  }
  .menu__logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1rem;
    width: 50%;
    height: auto;
  }
  .menu__navigation-mobile {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    z-index: 15;
    border: 1px solid #e1e2e8;
    padding: 0 20px;
    height: calc(80px - 25 * (767px - 100vw) / 680);
    max-height: 80px;
  }
  .menu__navigation-mobile .menu__list--top {
    position: relative;
    margin-top: calc(0.6rem - 15 * (767px - 100vw) / 680);
  }
  .menu__navigation-mobile .menu__list--top .menu__basket--mobile,
  .menu__navigation-mobile .menu__list--top .menu__item--burger,
  .menu__navigation-mobile .menu__list--top .menu__item--search {
    display: block;
  }
  .menu__navigation-mobile .menu__list--top .menu__item {
    display: flex;
    text-align: center;
    height: 4em;
    padding: 0;
    margin: 0;
    width: 8%;
  }
  .menu__navigation-mobile .menu__list--top .menu__item .menu__link {
    display: block;
    padding: 0.5em;
  }
  .menu__navigation-mobile .menu__list--top .menu__item .menu__link .menu__caption {
    display: block;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    margin-top: 0.4rem;
    font-size: calc(15px - 10 * (767px - 100vw) / 680);
  }
  .menu__navigation-mobile .menu__list--top .menu__item .menu__link .menu__icon {
    font-size: calc(40px - 25 * (767px - 100vw) / 680);
    padding: 0;
  }
  .menu__navigation-mobile .menu__list--top .menu__item--contact,
  .menu__navigation-mobile .menu__list--top .menu__item--basket {
    display: none;
  }
  .menu__navigation-mobile .menu__list--top .icon-icon_06:before {
    border: none;
    padding-right: 0;
  }
  .menu--top {
    width: 100%;
    height: calc(150px - 120 * (767px - 100vw) / 680);
  }
}
@media (min-width: 768px) {
  .menu--top {
    height: calc(109px - 12 * (1920px - 100vw) / 680);
    max-height: 109px;
  }
  .menu--top .menu__logo .menu__logo-image {
    width: calc(250px - 35 * (1920px - 100vw) / 680);
  }
  .menu__navigation .icon-icon_06:before {
    padding-right: calc(25% + 1 * (1920px - 100vw) / 680);
  }
  .menu__navigation .basket__wrapper {
    height: calc(55px - 5 * (1920px - 100vw) / 680);
  }
  .menu__navigation .basket__wrapper .basket__icon .icon-icon_06 {
    padding-left: calc(20px - 8 * (1920px - 100vw) / 680);
    font-size: calc(37px - 5 * (1920px - 100vw) / 680);
  }
  .menu__navigation .basket__wrapper .basket__icon .basket__icon--top {
    width: calc(26px - 1 * (1920px - 100vw) / 680);
    height: calc(14px - 0.8 * (1920px - 100vw) / 680);
    font-size: calc(10px - 0.6 * (1920px - 100vw) / 680);
    left: calc(44% - 3 * (1920px - 100vw) / 680);
  }
  .menu__navigation .basket__arrow {
    height: calc(53px - 5 * (1920px - 100vw) / 680);
  }
  .menu__navigation .menu__list--top .menu__item {
    margin-left: calc(48px - 18 * (1920px - 100vw) / 680);
  }
  .menu__navigation .menu__list--top .menu__item .menu__link {
    font-size: calc(14px - 2 * (1920px - 100vw) / 680);
  }
  .menu__navigation .menu__icon {
    padding-left: calc(1rem - 7 * (1920px - 100vw) / 680);
    padding-right: calc(1.5rem - 9 * (1920px - 100vw) / 680);
    font-size: calc(1.6rem - 2.1 * (1920px - 100vw) / 680);
  }
  .menu__navigation .menu__item:hover .menu__link {
    color: #f74137;
  }
  .menu__bottom-wrapper .menu__navigation-bottom .menu__list-bottom .menu__item .menu__link {
    font-size: calc(14px - 1.3 * (1920px - 100vw) / 680);
  }
}

/*# sourceMappingURL=header.css.map */
