*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.ttf") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_01:before {
  content: "\e900";
}

.icon-icon_02:before {
  content: "\e901";
}

.icon-icon_03:before {
  content: "\e902";
}

.icon-icon_04:before {
  content: "\e903";
}

.icon-icon_05:before {
  content: "\e904";
}

.icon-icon_06:before {
  content: "\e905";
}

.icon-icon_07:before {
  content: "\e906";
}

.icon-icon_08:before {
  content: "\e907";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu--top {
  height: 109px;
}

.menu__navigation {
  position: relative;
  padding-inline-start: 40px;
}
.menu__navigation .menu__item-list {
  display: flex;
  list-style: none;
}
.menu__navigation .menu__item-list .menu__burger {
  display: none;
}
.menu__navigation .menu__item-list .menu__search {
  display: none;
}
.menu__navigation .menu__item-list .menu__basket--mobile {
  display: none;
}
.menu__navigation .menu__item {
  display: flex;
  margin-right: 2.5rem;
}
.menu__navigation .menu__item--padding {
  padding: 1.2rem 0;
}
.menu__navigation .menu--height {
  height: 57px;
}
.menu__navigation .menu__link {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 700;
  align-items: center;
}
.menu__navigation .menu__link .menu__caption {
  white-space: nowrap;
}
.menu__navigation .menu__icon {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.menu__navigation .icon-icon_06:before {
  padding-right: 20%;
  border-right: 1px solid #e1e2e8;
}
.menu__navigation .menu__item-basket {
  margin-left: 1rem;
}
.menu__navigation .basket__wrapper {
  position: relative;
  display: flex;
  height: 55px;
  border: 1px solid #e1e2e8;
  margin-top: 0.5rem;
  margin-right: 0;
}
.menu__navigation .basket__wrapper .basket__icon {
  padding-top: 0.5rem;
}
.menu__navigation .basket__wrapper .basket__icon .icon-icon_06 {
  padding-right: 2rem;
  font-size: 2.3rem;
  margin-right: 1.5rem;
}
.menu__navigation .basket__wrapper .basket__icon .icon-icon_06 .basket__icon--top {
  display: flex;
  position: absolute;
  width: 26px;
  height: 14px;
  background-color: #9bcb3b;
  color: #ffffff;
  font-size: 10px;
  font-family: Metropolis;
  align-items: center;
  justify-content: center;
  left: 15%;
  bottom: 58%;
  border-radius: 10%;
}
.menu__navigation .basket__wrapper .basket__center {
  position: relative;
  margin: auto 1rem;
  right: 7%;
}
.menu__navigation .basket__wrapper .basket__center .basket__center--lowercase {
  line-height: 1.5;
  font-weight: 400;
  text-transform: lowercase;
}
.menu__navigation .basket__arrow {
  display: flex;
  width: 35px;
  height: 55px;
  background-color: #9bcb3b;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.menu__navigation--border {
  margin-top: 1rem;
  border-top: 1px solid #e1e2e8;
  border-bottom: 1px solid #e1e2e8;
}

@media (max-width: 767px) {
  .menu {
    position: relative;
    min-height: 80px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e1e2e8;
  }
  .menu .menu__logo .menu__logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 1rem;
    width: 50%;
    height: auto;
  }
  .menu .menu__navigation-mobile {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    z-index: 15;
    border: 1px solid #e1e2e8;
    padding: 0 20px;
  }
  .menu .menu__navigation-mobile .menu__item-list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    margin-top: 0.85rem;
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__basket--mobile,
  .menu .menu__navigation-mobile .menu__item-list .menu__burger,
  .menu .menu__navigation-mobile .menu__item-list .menu__search {
    display: block;
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__item {
    display: flex;
    text-align: center;
    height: 4em;
    padding: 0;
    margin: 0;
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__item .menu__link {
    display: block;
    padding: 0;
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__item .menu__link .menu__caption {
    display: block;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    margin-top: 0.4rem;
    font-size: calc(15px - 15 * (767px - 100vw) / 680);
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__item .menu__link .menu__icon {
    font-size: calc(40px - 25 * (767px - 100vw) / 680);
  }
  .menu .menu__navigation-mobile .menu__item-list .menu__contact,
  .menu .menu__navigation-mobile .menu__item-list .menu__item-basket {
    display: none;
  }
  .menu .menu__navigation-mobile .menu__item-list .icon-icon_06:before {
    border: none;
  }
  .menu__navigation--hide {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
