*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .opacity {
    pointer-events: none;
    opacity: 0.4;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.sections__wrapper {
  position: relative;
  width: 100%;
  height: 2450px;
}

.introduction {
  position: relative;
  font-family: Metropolis;
  color: #111111;
  margin-bottom: 10px;
}
.introduction__wrapper .introduction__title {
  font-size: 44px;
  font-weight: 700;
}
.introduction__wrapper .introduction__fieldset {
  position: relative;
  border: none;
  border-bottom: 1px solid #e1e2e8;
  margin-bottom: 21.5px;
}
.introduction__wrapper .introduction__fieldset .introduction__description {
  height: 61px;
  margin-top: 18.5px;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 10px;
}
.introduction__wrapper .introduction__fieldset--legend {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(5%, 50%);
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffffff;
}
.introduction__wrapper .introduction__item--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.introduction__wrapper .introduction__item--wrapper .introduction__item {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid #e1e2e8;
}
.introduction__wrapper .introduction__item--wrapper .introduction__item--imageWrapper {
  position: relative;
  width: 33%;
  height: 100%;
  border-right: 1px solid #e1e2e8;
  transition: border-bottom 0.065s;
}
.introduction__wrapper .introduction__item--wrapper .introduction__item--imageWrapper .introduction__item--image {
  position: absolute;
  height: 58.5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.introduction__wrapper .introduction__item--wrapper .introduction__item .introduction__item--description {
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
}
.introduction__wrapper .introduction__item--wrapper .introduction__item:hover .introduction__item--imageWrapper {
  border-bottom: 2px solid #f74137;
}
.introduction__wrapper .introduction__banner {
  margin-top: 20px;
}
.introduction__wrapper .introduction__banner--imageWrapper {
  position: relative;
}
.introduction__wrapper .introduction__banner--imageWrapper .shadow-bg {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
  position: absolute;
  bottom: 1px;
}
.introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--image {
  width: 100%;
  height: 100%;
}
.introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description {
  position: absolute;
  color: #ffffff;
  font-size: 44px;
  top: 27%;
  left: 4%;
  z-index: 1;
}
.introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description .introduction__banner--descriptionText .introduction__banner--descriptionBold {
  font-weight: 700;
}
.introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description .introduction__button {
  cursor: pointer;
  background-color: #f74137;
  margin-top: 8%;
  color: #ffffff;
  font-family: Metropolis;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 204px;
  height: 55px;
  font-size: 14px;
  transition: background-color 0.25s;
}
.introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description .introduction__button:hover {
  background-color: #c21e16;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .main__wrapper .sections__wrapper {
    height: calc(2530px - 870 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__title {
    font-size: calc(44px - 6 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__fieldset .introduction__description {
    margin-bottom: calc(5px + 40 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description {
    top: calc(27% - 12 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description .introduction__banner--descriptionText {
    font-size: calc(44px - 14 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__banner--imageWrapper .introduction__banner--description .introduction__button {
    position: absolute;
    width: calc(204px - 50 * (1920px - 100vw) / 680);
    height: calc(55px - 10 * (1920px - 100vw) / 680);
    font-size: calc(14px - 3 * (1920px - 100vw) / 680);
    margin-top: calc(6% - 2 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__item--wrapper .introduction__item {
    height: calc(80px - 25 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__item--wrapper .introduction__item .introduction__item--imageWrapper .introduction__item--image {
    height: calc(58.5px - 15 * (1920px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__item--wrapper .introduction__item .introduction__item--description {
    font-size: calc(14px - 1 * (1920px - 100vw) / 680);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .main__wrapper {
    width: 100%;
  }
  .main__wrapper .sections__wrapper {
    height: calc(2050px - 800 * (1200px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__fieldset .introduction__description {
    margin-bottom: calc(30px + 90 * (1200px - 100vw) / 680);
    font-size: calc(14px - 1 * (1200px - 100vw) / 680);
  }
  .main__wrapper .sections__wrapper .introduction .introduction__wrapper .introduction__item--wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .sections__wrapper {
    height: calc(3500px - 1450 * (767px - 100vw) / 680);
  }
  .introduction .introduction__wrapper .introduction__title {
    font-size: calc(40px - 10 * (767px - 100vw) / 680);
    margin-bottom: 15px;
  }
  .introduction .introduction__wrapper .introduction__fieldset {
    display: none;
  }
  .introduction .introduction__wrapper .introduction__item--wrapper {
    overflow-x: auto;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .introduction .introduction__wrapper .introduction__item--wrapper .introduction__item {
    min-width: 220px;
  }
  .introduction .introduction__wrapper .introduction__item--wrapper .introduction__item:hover .introduction__item--imageWrapper {
    border-bottom: none;
  }
  .introduction .introduction__wrapper .introduction__banner {
    display: none;
  }
}
@media (max-width: 479px) {
  .introduction .introduction__wrapper .introduction__title {
    font-size: calc(35px - 30 * (479px - 100vw) / 680);
  }
  .sections__wrapper {
    height: calc(5400px - 3050 * (479px - 100vw) / 680);
  }
}/*# sourceMappingURL=introduction.css.map */