*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.products {
  display: flex;
  width: 1530px;
  height: 1700px;
  font-family: Metropolis;
  color: #111111;
}
.products__menu {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #f8f8f8;
  width: 1530px;
  height: 55px;
  padding-left: 15px;
}
.products__menu--item {
  display: flex;
  justify-content: space-between;
  width: 124px;
  font-size: 12px;
  font-weight: 400;
}
.products__menu--item .icon-widok_01 {
  opacity: 20%;
}
.products__menu .products__menu--rightItems {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 30px;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper {
  display: flex;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--select {
  font-family: Metropolis;
  width: 170px;
  height: 40px;
  border: none;
  background-color: #ffffff;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--rightItem {
  align-items: center;
  justify-content: space-evenly;
  width: 50px;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .quantity {
  width: 85px;
  height: 40px;
}
.products__menu .products__menu--rightItems .pagerContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page {
  display: flex;
  width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #111111;
  font-size: 12px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page:hover {
  background-color: #f74137;
  color: #ffffff;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page--current {
  background-color: #f74137;
  color: #ffffff;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__arrow {
  font-size: 10px;
}
.products .products__menu--bottom {
  bottom: 35px;
}

.products__items--wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  top: 5%;
  margin: 0 auto;
}
.products__items--wrapper .productsSlider__item {
  position: relative;
  width: 356px;
  height: 530px;
  background-color: #ffffff;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--image {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
  text-align: center;
  white-space: nowrap;
  line-height: 1.5em;
  transition: bottom 0.3s;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 400;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description .productsSlider__item--description-bold {
  font-weight: 700;
  text-transform: uppercase;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 700;
  height: 33px;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price .productsSlider__item--price-strikethrough {
  text-decoration: line-through;
  color: #a3a3a3;
  font-weight: 400;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  font-family: Metropolis;
  bottom: 10%;
  width: 100%;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper {
  width: 100px;
  display: none;
  transition: display 0.7s;
  border: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input {
  width: 54px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  border: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--minus,
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--plus {
  width: 30%;
  height: 50px;
  border: none;
  color: #323940;
  font-size: 20px;
  cursor: pointer;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #9bcb3b;
  color: #ffffff;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  transition: display 0.7s;
  cursor: pointer;
}
.products__items--wrapper .productsSlider__item:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 4%;
  height: 99%;
  border-right: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item:nth-child(4n):before {
  border-right: none;
}
.products__items--wrapper .productsSlider__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 94%;
  left: 3%;
  border-bottom: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item:nth-last-child(-n+4):after {
  border-bottom: none;
}

@media all and (min-width: 768px) {
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--description-wrapper {
    bottom: 35%;
  }
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--basket .productsSlider__item--inputWrapper {
    display: flex;
    opacity: 1;
    animation: opacity 1s;
    animation-iteration-count: 1;
  }
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--basket .productsSlider__item--basket-icon {
    display: flex;
    animation: opacity 0.85s;
    animation-iteration-count: 1;
  }
}
@keyframes opacity {
  from {
    opacity: 1%;
  }
  to {
    opacity: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .products {
    width: calc(1530px - 670 * (1920px - 100vw) / 680);
    height: calc(1800px - 800 * (1920px - 100vw) / 680);
  }
  .products .products__menu {
    width: calc(1540px - 680 * (1920px - 100vw) / 680);
    left: 0;
  }
  .products .products__menu .products__menu--rightItems {
    right: calc(20px - 8 * (1920px - 100vw) / 680);
    gap: 5px;
  }
  .products .products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--select {
    width: calc(170px - 48 * (1920px - 100vw) / 680);
    height: calc(40px - 5 * (1920px - 100vw) / 680);
  }
  .products .products__menu .products__menu--rightItems .products__menu--rightItemWrapper .quantity {
    width: calc(85px - 20 * (1920px - 100vw) / 680);
    height: calc(40px - 5 * (1920px - 100vw) / 680);
  }
  .products .products__menu .products__menu--rightItems .pagerContainer .pager__page {
    width: calc(40px - 7 * (1920px - 100vw) / 680);
    height: calc(40px - 7 * (1920px - 100vw) / 680);
  }
  .products .products__menu .products__menu--item {
    width: calc(124px - 30 * (1920px - 100vw) / 680);
  }
  .products .products__menu--bottom {
    bottom: calc(40px - 20 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper {
    top: calc(5% + 22 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item {
    width: calc(356px - 140 * (1920px - 100vw) / 680);
    height: calc(530px - 200 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket {
    height: calc(50px - 20 * (1920px - 100vw) / 680);
    bottom: calc(10% - 2.5 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper {
    border: none;
    width: calc(100px - 12 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(14px - 1 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--minus,
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--plus {
    width: calc(30% - 5 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon {
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    width: calc(50px - 12 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon .icon-icon_06 {
    font-size: calc(25px - 3.5 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper {
    bottom: calc(20% + 15 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
    font-size: calc(14px - 2.3 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
    font-size: calc(14px - 2 * (1920px - 100vw) / 680);
    height: calc(33px - 5 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--image {
    width: calc(280px - 100 * (1920px - 100vw) / 680);
    height: calc(280px - 100 * (1920px - 100vw) / 680);
    top: calc(33% - 15 * (1920px - 100vw) / 680);
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .products .products__menu {
    width: calc(840px - 630 * (1200px - 100vw) / 680);
  }
  .products__items--wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
  .products__items--wrapper .productsSlider__item:before {
    height: 93%;
  }
  .products__items--wrapper .productsSlider__item:nth-last-child(-n+4):after {
    border-bottom: 1px solid #e1e2e8;
  }
  .products__items--wrapper .productsSlider__item:nth-child(4n):before {
    border-right: 1px solid #e1e2e8;
  }
  .products__items--wrapper .productsSlider__item:nth-child(3n):before {
    border-right: none;
  }
  .products__items--wrapper .productsSlider__item:nth-last-child(-n+3):after {
    border-bottom: none;
  }
  .products__items--wrapper .productsSlider__item {
    width: calc(400px - 150 * (1920px - 100vw) / 680);
    height: calc(530px - 180 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--basket {
    height: calc(50px - 20 * (1920px - 100vw) / 680);
    bottom: calc(10% - 2.5 * (1920px - 100vw) / 680);
    gap: 0;
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper {
    bottom: calc(20% + 15 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
    font-size: calc(15px - 3.6 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
    font-size: calc(14px - 2.2 * (1920px - 100vw) / 680);
    height: calc(33px - 5 * (1920px - 100vw) / 680);
  }
  .products__items--wrapper .productsSlider__item .productsSlider__item--image {
    width: calc(280px - 110 * (1920px - 100vw) / 680);
    height: calc(280px - 110 * (1920px - 100vw) / 680);
    top: calc(33% - 15 * (1920px - 100vw) / 680);
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .products__items--wrapper .productsSlider__item:before {
    height: 95%;
  }
}
@media (max-width: 1050px) {
  .products .products__menu .products__menu--item {
    width: calc(50px - 30 * (1050px - 100vw) / 680);
  }
  .products .products__menu .products__menu--item .products__menu--itemTitle {
    display: none;
  }
  .products .products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--rightItem {
    display: none;
  }
}
@media (max-width: 767px) {
  .products {
    width: 100%;
  }
  .products .products__menu {
    width: 100%;
  }
  .products .products__menu .products__menu--item {
    position: absolute;
    right: 20px;
    min-width: 40px;
  }
  .products .products__menu .products__menu--item .icon-widok_01 {
    font-size: 14px;
  }
  .products .products__menu .products__menu--item .icon-widok_02 {
    font-size: 14px;
  }
  .products .products__menu .products__menu--rightItems {
    left: 10px;
    gap: 10px;
  }
  .products .products__menu .products__menu--rightItems .pagerContainer {
    display: none;
  }
  .products .products__items--wrapper {
    grid-template-columns: 1fr 1fr;
    top: 4%;
  }
  .products .products__items--wrapper .productsSlider__item {
    width: calc(356px - 300 * (767px - 100vw) / 680);
    height: calc(530px - 250 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--image {
    width: calc(250px - 200 * (767px - 100vw) / 680);
    height: calc(250px - 200 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper {
    bottom: 33%;
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
    font-size: calc(14px - 5 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
    font-size: calc(14px - 3 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket {
    bottom: calc(10% - 20 * (767px - 100vw) / 680);
    gap: 15px;
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper {
    display: flex;
    opacity: 1;
    height: calc(60px - 40 * (767px - 100vw) / 680);
    width: calc(120px - 60 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input {
    width: calc(60px - 20 * (767px - 100vw) / 680);
    height: calc(60px - 40 * (767px - 100vw) / 680);
    font-size: calc(2em - 7 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--minus,
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--plus {
    height: calc(60px - 40 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon {
    display: flex;
    opacity: 1;
    width: calc(60px - 40 * (767px - 100vw) / 680);
    height: calc(60px - 40 * (767px - 100vw) / 680);
    font-size: calc(35px - 10 * (767px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item:before {
    height: 93%;
  }
  .products .products__items--wrapper .productsSlider__item:nth-last-child(-n+4):after {
    border-bottom: 1px solid #e1e2e8;
  }
  .products .products__items--wrapper .productsSlider__item:nth-last-child(-n+2):after {
    border-bottom: none;
  }
  .products .products__items--wrapper .productsSlider__item:nth-child(2n):before {
    border-right: none;
  }
  .products .products__items--wrapper .productsSlider__item:nth-child(3n):before {
    border-right: 1px solid #e1e2e8;
  }
  .products .products__items--wrapper .productsSlider__item:nth-child(4n):before {
    border-right: none;
  }
  .products .products__items--wrapper .productsSlider__item:nth-child(6):before {
    border-right: none;
  }
}
@media (max-width: 479px) {
  .products .products__items--wrapper {
    grid-template-columns: 1fr;
  }
  .products .products__items--wrapper .productsSlider__item {
    width: calc(425px - 560 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--image {
    top: calc(30% - 40 * (479px - 100vw) / 680);
    width: calc(220px - 180 * (479px - 100vw) / 680);
    height: calc(220px - 180 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper {
    display: flex;
    opacity: 1;
    height: calc(50px - 40 * (479px - 100vw) / 680);
    width: calc(110px - 60 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input {
    width: calc(50px - 10 * (479px - 100vw) / 680);
    height: calc(50px - 40 * (479px - 100vw) / 680);
    font-size: calc(1.5em - 1 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--minus,
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--plus {
    height: calc(50px - 40 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon {
    width: calc(50px - 40 * (479px - 100vw) / 680);
    height: calc(50px - 40 * (479px - 100vw) / 680);
    font-size: calc(35px - 10 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon .icon-icon_06 {
    font-size: calc(30px - 25 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
    font-size: calc(14px - 5 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
    font-size: calc(14px - 3 * (479px - 100vw) / 680);
  }
  .products .products__items--wrapper .productsSlider__item:nth-child(odd):before {
    border-right: none;
  }
  .products .products__items--wrapper .productsSlider__item:nth-last-child(-n+2):after {
    border-bottom: 1px solid #e1e2e8;
  }
  .products .products__items--wrapper .productsSlider__item:last-child:after {
    border-bottom: none;
  }
  .products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--selectSort {
    width: calc(170px - 250 * (479px - 100vw) / 680);
  }
}

/*# sourceMappingURL=products.css.map */
