*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf?m2in9q");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dostepnosc:before {
  content: "\e900";
}

.icon-icon_01:before {
  content: "\e901";
}

.icon-icon_02:before {
  content: "\e902";
}

.icon-icon_03:before {
  content: "\e903";
}

.icon-icon_04:before {
  content: "\e904";
}

.icon-icon_05:before {
  content: "\e905";
}

.icon-icon_06:before {
  content: "\e906";
}

.icon-icon_07:before {
  content: "\e907";
}

.icon-icon_08:before {
  content: "\e908";
}

.icon-play:before {
  content: "\e909";
}

.icon-widok_01:before {
  content: "\e90a";
}

.icon-widok_02:before {
  content: "\e90b";
}

.icon-wysylka:before {
  content: "\e90c";
}

.icon-x:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e986";
}

.icon-menu:before {
  content: "\e9bd";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.left,
.right {
  display: flex;
  width: 50px;
  height: 50px;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
  cursor: pointer;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.icon-icon_05,
.icon-icon_04 {
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .left,
  .right {
    width: calc(50px - 12 * (1920px - 100vw) / 680);
    height: calc(50px - 12 * (1920px - 100vw) / 680);
    font-size: calc(1em - 2 * (1920px - 100vw) / 680);
  }
}
.products {
  display: flex;
  width: 1530px;
  height: 1900px;
  font-family: Metropolis;
  color: #111111;
}
.products__menu {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #f8f8f8;
  width: 1530px;
  height: 55px;
  right: 0;
  padding-left: 15px;
}
.products__menu--item {
  display: flex;
  justify-content: space-between;
  width: 124px;
  font-size: 12px;
  font-weight: 400;
}
.products__menu--item .icon-widok_01 {
  opacity: 20%;
}
.products__menu .products__menu--rightItems {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 30px;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper {
  display: flex;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--select {
  font-family: Metropolis;
  width: 170px;
  height: 40px;
  border: none;
  background-color: #ffffff;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .products__menu--rightItem {
  align-items: center;
  justify-content: space-around;
}
.products__menu .products__menu--rightItems .products__menu--rightItemWrapper .quantity {
  width: 85px;
  height: 40px;
}
.products__menu .products__menu--rightItems .pagerContainer {
  display: flex;
  gap: 5px;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page {
  display: flex;
  width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #111111;
  font-size: 12px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page:hover {
  background-color: #f74137;
  color: #ffffff;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__page--current {
  background-color: #f74137;
  color: #ffffff;
}
.products__menu .products__menu--rightItems .pagerContainer .pager__arrow {
  font-size: 10px;
}
.products .products__menu--bottom {
  bottom: 110px;
}

.products__items--wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 30%;
  width: 1530px;
  right: 0;
}
.products__items--wrapper .productsSlider__item {
  position: relative;
  width: 356px;
  height: 530px;
  background-color: #ffffff;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--image {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
  text-align: center;
  white-space: nowrap;
  line-height: 1.5em;
  transition: bottom 0.3s;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description {
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 400;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--description .productsSlider__item--description-bold {
  font-weight: 700;
  text-transform: uppercase;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 700;
  height: 33px;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--description-wrapper .productsSlider__item--price .productsSlider__item--price-strikethrough {
  text-decoration: line-through;
  color: #a3a3a3;
  font-weight: 400;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  font-family: Metropolis;
  bottom: 10%;
  width: 100%;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper {
  width: 100px;
  display: none;
  transition: display 0.7s;
  border: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input {
  width: 54px;
  height: 50px;
  text-align: center;
  font-size: 14px;
  font-family: Metropolis;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  border: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--minus,
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--inputWrapper .productsSlider__input--plus {
  width: 30%;
  height: 50px;
  border: none;
  color: #323940;
  font-size: 20px;
  cursor: pointer;
}
.products__items--wrapper .productsSlider__item .productsSlider__item--basket .productsSlider__item--basket-icon {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #9bcb3b;
  color: #ffffff;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  transition: display 0.7s;
  cursor: pointer;
}
.products__items--wrapper .productsSlider__item:before {
  content: "";
  position: absolute;
  right: 0;
  top: 4%;
  height: 92%;
  border-right: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item:nth-child(4n):before {
  border-right: none;
}
.products__items--wrapper .productsSlider__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 94%;
  border-bottom: 1px solid #e1e2e8;
}
.products__items--wrapper .productsSlider__item:nth-last-child(-n+4):after {
  border-bottom: none;
}

@media all and (min-width: 768px) {
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--description-wrapper {
    bottom: 35%;
  }
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--inputWrapper {
    display: flex;
  }
  .products__items--wrapper .productsSlider__item:hover .productsSlider__item--basket-icon {
    display: flex;
  }
}

/*# sourceMappingURL=products.css.map */
