*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.background {
  background-color: #f2f3f4;
  width: 100%;
  border-top: 1px solid #e1e2e8;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.ttf") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_01:before {
  content: "\e900";
}

.icon-icon_02:before {
  content: "\e901";
}

.icon-icon_03:before {
  content: "\e902";
}

.icon-icon_04:before {
  content: "\e903";
}

.icon-icon_05:before {
  content: "\e904";
}

.icon-icon_06:before {
  content: "\e905";
}

.icon-icon_07:before {
  content: "\e906";
}

.icon-icon_08:before {
  content: "\e907";
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.left,
.right {
  font-size: 1.3vw;
  transition: background-color 0.6s ease;
  z-index: 10;
  opacity: 0.7;
}

.right {
  right: 0;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.slider {
  position: relative;
}
.slider .slider__icons {
  position: relative;
}
.slider .slider__element {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.slider .slider__element .slider__element-image {
  width: 100%;
  height: 100%;
}
.slider .slider__element .slider__content {
  position: absolute;
  font-family: Metropolis;
  font-weight: 300;
  color: #ffffff;
  top: 25%;
  left: 7%;
  font-size: 44px;
  z-index: 2;
  width: 10em;
  height: 6em;
}
.slider .slider__element .slider__content .slider__content--bold {
  position: absolute;
  font-weight: 700;
}
.slider .slider__element .slider__content .content__text {
  position: absolute;
  padding-top: 0.5rem;
  text-align: left;
  font-family: Metropolis;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  z-index: 2;
}
.slider .shadow-bg {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  z-index: 1;
}
.slider .banner__button {
  cursor: pointer;
  background-color: #f74137;
  margin-top: 8%;
  color: #ffffff;
  font-family: Metropolis;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 204px;
  height: 55px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.left,
.right {
  position: absolute;
  top: 53%;
  padding: 0.7em;
  margin-top: -22px;
  background-color: #e1e2e8;
}

.left:hover,
.right:hover {
  background-color: #5b5b5b;
}

.fade_animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .slider .slider__icons {
    width: 100%;
    height: calc(40vw - 35 * (767px - 100vw) / 680);
  }
  .slider .slider__element {
    width: 100%;
    height: auto;
  }
  .slider .slider__element .slider__element-image {
    width: 100%;
    height: auto;
  }
  .slider .slider__element .shadow-bg {
    position: absolute;
    width: 100%;
    height: calc(40.2vw - 22 * (767px - 100vw) / 680);
    left: 0;
  }
  .slider .slider__element .slider__content {
    width: 10em;
    font-size: calc(25px - 20 * (767px - 100vw) / 680);
    height: 70%;
    top: calc(2.5em - 20 * (767px - 100vw) / 680);
    left: 2em;
  }
  .slider .slider__element .slider__content .content__text {
    width: 35vw;
    font-size: calc(15px - 13 * (767px - 100vw) / 680);
    left: 0;
    padding-bottom: 0.4rem;
    padding-top: 0.25rem;
  }
  .slider .slider__element .banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(14em - 20 * (767px - 100vw) / 680);
    height: calc(4em - 10 * (767px - 100vw) / 680);
    font-size: calc(14px - 10 * (767px - 100vw) / 680);
    bottom: calc(2em - 25 * (767px - 100vw) / 680);
  }
  .slider .slider__icons .right,
  .slider .slider__icons .left {
    position: absolute;
    width: 2em;
    height: 2em;
  }
  .slider .slider__icons .right {
    right: 0;
  }
  .slider .slider__icons .left {
    left: 0;
  }
  .slider .slider__icons .icon-icon_04,
  .slider .slider__icons .icon-icon_05 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1em - 13 * (767px - 100vw) / 680);
    top: calc(10em - 10 * (767px - 100vw) / 680);
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .slider .slider__element .shadow-bg {
    height: calc(100% - 0.7 * (1920px - 100vw) / 680);
  }
  .slider .slider__element .slider__content {
    font-size: calc(44px - 12 * (1920px - 100vw) / 680);
  }
  .slider .slider__element .slider__content .banner__button {
    width: calc(204px - 50 * (1920px - 100vw) / 680);
    height: calc(55px - 10 * (1920px - 100vw) / 680);
    font-size: calc(14px - 3 * (1920px - 100vw) / 680);
  }
  .slider .slider__element .slider__content .content__text {
    font-size: calc(22px - 6 * (1920px - 100vw) / 680);
  }
}

/*# sourceMappingURL=slider.css.map */
