$black: #111111;
$light-gray: #e1e2e8;
$gray: #a3a3a3;
$dark-gray: #5b5b5b;
$darker-gray: #323940;
$footer-gray: #393e40;
$white: #ffffff;
$main-color: #f2f3f4;
$light-green: #9bcb3b;
$red: #f74137;
$shadow-gradient: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
$shadow: rgba(0, 9, 62, 0.2);
