@use "colors" as c;
@use "settings" as s;

.banners {
  background-color: c.$main-color;

  .banners__wrapper {
    display: flex;
    gap: 30px;

    .banner__element {
      position: relative;
      display: flex;
      margin: 0 auto;
      overflow: hidden;
      justify-content: space-between;

      .shadow-bg {
        @include s.shadow;
        height: 100%;
      }

      .banner__element-image {
        display: flex;
        transition: transform 1s;
        z-index: 0;
        gap: 30px;
        width: 100%;
        height: 100%;
      }

      .banner__button {
        @include s.button;
        background-color: transparent;
        border: 1px solid c.$white;
        transition: background-color 0.5s;
      }

      .banner__text {
        position: absolute;
        padding-top: 1rem;
        text-align: left;
        font-family: Metropolis;
        font-size: 44px;
        font-weight: 700;
        color: c.$white;
        top: 25%;
        left: 5%;
        z-index: 2;
        white-space: nowrap;

        .banner__text--light {
          font-weight: 300;
        }

        .banner__button:hover {
          background-color: c.$red;
          border: none;
        }
      }
    }
    .banner__element:hover .banner__element-image {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .banners {
    .banners__wrapper {
      gap: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .banners {
    .banners__wrapper {
      .banner__element {
        .banner__button {
          width: calc(204px - 55 * ((1920px - 100vw) / 680));
          height: calc(55px - 15 * ((1920px - 100vw) / 680));
          font-size: calc(14px - 3 * ((1920px - 100vw) / 680));
          margin-top: 1.2em;
        }

        .banner__text {
          font-size: calc(44px - 17 * ((1920px - 100vw) / 680));
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banners {
    position: relative;

    .banners__wrapper {
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 20px;

      .banner__element {
        justify-content: center;
        width: 100%;
        height: auto;

        .shadow-bg {
          @include s.shadow;
          height: 100%;
          width: 100%;
        }

        .banner__element-image {
          align-items: center;
          justify-content: center;
          width: 100%;
          height: auto;
        }

        .banner__text {
          font-size: 5.5vw;

          .banner__button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc(16px - 11 * (767px - 100vw) / 680);
            width: calc(15em - 25 * ((767px - 100vw) / 680));
            height: calc(4em - 8 * ((767px - 100vw) / 680));
            background-color: c.$red;
            border: none;
          }
        }
      }
      .banner__element:hover .banner__element-image {
        transform: none;
      }
    }
  }
}
