@use "colors" as c;
@use "settings" as s;

.main__wrapper {
  display: flex;
}

.filters {
  position: relative;

  &__wrapper {
    width: 300px;
    margin-bottom: 22px;

    .filters__item--list {
      display: flex;
      flex-direction: column;
      list-style: none;

      .filters__item {
        display: flex;
        font-family: Metropolis;
        text-transform: uppercase;
        font-size: 14px;
        height: 60px;
        border: 1px solid c.$light-gray;
        align-items: center;
        padding-left: 17px;
      }

      .filters__item--title {
        font-weight: 700;
        font-size: 15px;
        border-bottom: 2px solid c.$red;
      }
    }
  }
}
