@use "colors" as c;
@use "settings" as s;

.main__wrapper {
  display: flex;
}

.filters {
  position: relative;

  &__wrapper {
    width: 300px;
    margin-bottom: 22px;
    border-bottom: 1px solid c.$light-gray;
    border: 1px solid c.$light-gray;

    .filters__item--list {
      display: flex;
      flex-direction: column;
      list-style: none;

      .filters__item {
        display: flex;
        font-family: Metropolis;
        text-transform: uppercase;
        font-size: 14px;
        height: 60px;
        border-bottom: 1px solid c.$light-gray;
        align-items: center;
        padding-left: 20px;
        transition: font-weight 0.2s;
      }

      .filters__item:hover {
        font-weight: 700;
      }

      .filters__item--title {
        font-weight: 700;
        font-size: 15px;
        border-bottom: 2px solid c.$red;
      }

      .filters__item--bottomTitle {
        font-weight: 700;
        border-top: 1px solid c.$light-gray;
        border-bottom: none;
      }

      .filters__input--description {
        text-transform: none;
        margin-left: 1em;
      }

      .filters__item--bottomCompanyTitle {
        border: none;
        font-weight: 700;
      }

      .filters__item--input {
        border: none;
        height: 22px;
        margin-bottom: 13px;
      }

      .input__wrapper {
        position: relative;
        width: 22px;
        height: 22px;
        border: 1px solid c.$light-gray;

        .filters__input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 14px;
          width: 14px;
          background-color: #eee;
          margin-right: 0.5em;
        }
      }

      .input__wrapper input:checked ~ .checkmark {
        background-color: c.$red;
      }

      .filters__item--more {
        font-family: Metropolis;
        font-weight: 400;
        font-size: 13px;
        color: c.$red;
        padding: 10px 0px 25px 20px;
      }
    }

    .filters__item--listColor {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      border-left: 1px solid c.$light-gray;
      border-right: 1px solid c.$light-gray;
      padding: 0px 20px 20px 20px;

      .filters__item--inputColor {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .filters__item--inputColor::-webkit-color-swatch {
        border: none;
      }
    }
    .filters__item--listFilters {
      padding-left: 20px;
      padding-bottom: 20px;

      .filters__item--inputNumber {
        font-family: Metropolis;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        width: 40px;
        height: 30px;
        border: 1px solid c.$light-gray;
      }
    }

    .filters__inputNumberWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 24px;

      .filters__quantity {
        width: 104px;
        height: 46px;
        border: 1px solid c.$light-gray;
        font-family: Metropolis;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
      }

      .filters__quantity::placeholder {
        color: c.$black;
      }
    }

    .filters__price--wrapper {
      position: relative;

      .filters__price--rangeContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 5% 10% 8%;

        .filters__price--slidersControl {
          position: relative;
          min-height: 20px;

          .fromSlider {
            height: 0;
            z-index: 1;
          }
          .fromSlider::before {
            height: 1;
            z-index: 1;
            background-color: c.$red;
          }
        }
      }

      .filters__price--formControl {
        position: relative;
        display: flex;
        justify-content: space-between;

        .filters__price--quantity {
          font-family: Metropolis;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
          width: 40px;
          height: 30px;
          border: 1px solid c.$light-gray;
        }
        .filters__price--quantity::placeholder {
          color: c.$black;
        }
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 16px;
        height: 16px;
        background-color: c.$red;
        opacity: 1;
        cursor: pointer;
      }

      input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        width: 16px;
        height: 16px;
        background-color: c.$red;
        cursor: pointer;
        opacity: 1;
      }

      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        width: 100%;
        position: absolute;
        background-color: c.$light-gray;
        pointer-events: none;
      }
    }
  }
}
