@use "colors" as c;
@use "settings" as s;

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu--top {
  height: 109px;
  width: auto;

  .menu__logo {
    width: 100%;
    height: auto;
  }
}

.menu__navigation {
  position: relative;

  .menu__list--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: auto;

    .menu__item--burger {
      display: none;
    }
    .menu__item--search {
      display: none;
    }
    .menu__basket--mobile {
      display: none;
    }
  }

  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;

    .menu__link {
      display: flex;
      text-decoration: none;
      text-transform: uppercase;
      color: c.$black;
      font-size: 14px;
      font-family: Metropolis;
      font-weight: 700;
      align-items: center;

      .menu__caption {
        white-space: nowrap;
      }
    }
  }

  .menu__icon {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .icon-icon_06:before {
    padding-right: 20%;
    border-right: 1px solid c.$light-gray;
  }

  .menu__item-basket {
    width: 100%;
    height: auto;
  }

  .basket__wrapper {
    display: flex;
    height: 55px;
    border: 1px solid c.$light-gray;

    .basket__icon {
      position: relative;
      padding-top: 0.5rem;

      .basket__icon--top {
        display: flex;
        position: absolute;
        width: 26px;
        height: 14px;
        background-color: c.$light-green;
        color: c.$white;
        font-size: 10px;
        font-family: Metropolis;
        align-items: center;
        justify-content: center;
        left: 38%;
        bottom: 57%;
        border-radius: 10%;
      }

      .icon-icon_06 {
        padding-right: 2rem;
        font-size: 2.3rem;
        margin-right: 1rem;
      }
    }

    .basket__center {
      position: relative;
      margin: auto 1.5rem;
      right: 7%;
      white-space: nowrap;

      .basket__center--lowercase {
        line-height: 1.5;
        font-weight: 400;
        text-transform: lowercase;
      }
    }
  }

  .basket__arrow {
    display: flex;
    width: 35px;
    height: 55px;
    background-color: c.$light-green;
    color: c.$white;
    align-items: center;
    justify-content: center;

    .icon-icon_04 {
      font-weight: 300;
    }
  }
}

.menu__bottom-wrapper {
  position: relative;
  height: 57px;
  border-top: 1px solid c.$light-gray;

  .menu__navigation-bottom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 98%;

    .menu__list-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu__item {
        margin: 0 25px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .menu__navigation--border {
    border-bottom: none;
  }

  .menu {
    position: relative;
    min-height: 80px;
    padding-bottom: 100px;
    border-bottom: 1px solid c.$light-gray;

    .menu__logo {
      .menu__logo-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-bottom: 1rem;
        width: 50%;
        height: auto;
      }
    }

    .menu__navigation-mobile {
      position: fixed;
      width: 100%;
      background-color: c.$white;
      bottom: 0;
      left: 0;
      z-index: 15;
      border: 1px solid c.$light-gray;
      padding: 0 20px;
      height: 80px;

      .menu__list--top {
        position: relative;
        margin: 0;
        margin-top: 0.5rem;

        .menu__basket--mobile,
        .menu__item--burger,
        .menu__item--search {
          display: block;
        }

        .menu__item {
          display: flex;
          text-align: center;
          height: 4em;
          padding: 0;
          margin: 0;

          .menu__link {
            display: block;
            padding: 0;

            .menu__caption {
              display: block;
              text-align: center;
              font-weight: 300;
              white-space: nowrap;
              margin-top: 0.4rem;
              font-size: calc(15px - 15 * ((767px - 100vw) / 680));
            }

            .menu__icon {
              font-size: calc(40px - 25 * ((767px - 100vw) / 680));
            }
          }
        }

        .menu__item--contact,
        .menu__item-basket {
          display: none;
        }

        .icon-icon_06:before {
          border: none;
        }
      }
    }
  }
  .menu__navigation--hide {
    display: none;
  }
}
