@import "colors";
@import "settings";

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu__navigation {
  position: relative;
  padding-inline-start: 40px;

  .menu__item-list {
    display: flex;
    list-style: none;
    margin-top: -0.5rem;

    .menu__burger {
      display: none;
    }
    .menu__search {
      display: none;
    }
    .menu__basket--mobile {
      display: none;
    }
  }

  .menu__item {
    display: flex;
    margin-right: 3rem;
  }

  .menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    font-size: 14px;
    font-family: Metropolis;
    font-weight: 700;
    padding: 1.2rem 0;

    .menu__caption {
      white-space: nowrap;
    }
  }

  .menu__icon {
    font-weight: 500;
    font-size: 1.6rem;
    padding: 0 1rem;
  }

  .icon-icon_06:before {
    padding-right: 20%;
    border-right: 1px solid $light-gray;
  }

  .menu__item-basket {
    margin: 0 1rem;
  }

  .basket__wrapper {
    position: relative;
    display: flex;
    width: 110%;
    height: 57px;
    border: 1px solid $light-gray;
    margin-top: 0.5rem;

    .basket__icon {
      padding-top: 0.5rem;

      .icon-icon_06 {
        padding-right: 2rem;
        font-size: 2.3rem;
        margin-right: 1.5rem;

        .basket__icon--top {
          display: flex;
          position: absolute;
          width: 26px;
          height: 14px;
          background-color: $light-green;
          color: $white;
          font-size: 10px;
          font-family: Metropolis;
          align-items: center;
          justify-content: center;
          left: 15%;
          bottom: 58%;
          border-radius: 10%;
        }
      }
    }
    .basket__center {
      position: relative;
      margin: auto;
      right: 7%;

      .basket__center--lowercase {
        line-height: 1.5;
        font-weight: 400;
        text-transform: lowercase;
      }
    }
  }

  .basket__arrow {
    display: flex;
    width: 35px;
    height: 55px;
    background-color: $light-green;
    color: $white;
    align-items: center;
    justify-content: center;
  }
}

.menu__navigation--border {
  margin-top: 1rem;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
}

@media (max-width: 767px) {
  .menu {
    position: relative;
    height: 10vh;

    .menu__logo {
      width: 100%;
      height: 100%;
      padding-bottom: 8vh;
      border-bottom: 1px solid $light-gray;

      .menu__logo-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    .menu__navigation-mobile {
      position: fixed;
      width: 100%;
      background-color: $white;
      bottom: 0;
      left: 0;
      z-index: 5;
      border: 1px solid $light-gray;
      padding-inline-start: 1rem;

      .menu__item-list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        margin-top: 0.7rem;
        margin-right: 2rem;

        .menu__contact,
        .menu__item-basket {
          display: none;
        }

        .menu__burger,
        .menu__search,
        .menu__basket--mobile {
          display: block;
        }

        .menu__item {
          text-align: center;
          height: 5vh;
          padding: 0;

          .menu__link {
            position: absolute;
            padding: 0;

            .menu__caption {
              display: block;
              text-align: center;
              font-weight: 300;
              white-space: nowrap;
              margin-top: 0.4rem;
              font-size: 1em;
            }

            .menu__icon {
              font-size: 2em;
            }
          }
        }

        .icon-icon_06:before {
          border: none;
        }
      }
    }
  }
  .menu__navigation--hide {
    display: none;
  }
}
