@use "colors" as c;
@use "settings" as s;

.sections__wrapper {
  position: relative;
  width: 100%;
  height: 2450px;
}

.introduction {
  position: relative;
  font-family: Metropolis;
  color: c.$black;
  margin-bottom: 10px;

  &__wrapper {
    .introduction__title {
      font-size: 44px;
      font-weight: 700;
    }

    .introduction__fieldset {
      position: relative;
      border: none;
      border-bottom: 1px solid c.$light-gray;
      margin-bottom: 21.5px;

      .introduction__description {
        height: 61px;
        margin-top: 18.5px;
        font-size: 14px;
        line-height: 1.5;
        margin-right: 10px;
      }

      &--legend {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(5%, 50%);
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        background-color: c.$white;
      }
    }

    .introduction__item--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 10px;

      .introduction__item {
        display: flex;
        align-items: center;
        height: 80px;
        border: 1px solid c.$light-gray;

        &--imageWrapper {
          position: relative;
          width: 33%;
          height: 100%;
          border-right: 1px solid c.$light-gray;
          transition: border-bottom 0.075s;

          .introduction__item--image {
            position: absolute;
            height: 58.5px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .introduction__item--description {
          font-weight: 400;
          font-size: 14px;
          padding: 0 15px;
        }
      }
      .introduction__item:hover {
        .introduction__item--imageWrapper {
          border-bottom: 2px solid c.$red;
        }
      }
    }

    .introduction__banner {
      margin-top: 20px;

      &--imageWrapper {
        position: relative;

        .shadow-bg {
          @include s.shadow;
          position: absolute;
          bottom: 1px;
        }

        .introduction__banner--image {
          width: 100%;
          height: 100%;
        }

        .introduction__banner--description {
          position: absolute;
          color: c.$white;
          font-size: 44px;
          top: 27%;
          left: 4%;
          z-index: 1;

          .introduction__banner--descriptionText {
            .introduction__banner--descriptionBold {
              font-weight: 700;
            }
          }
          .introduction__button {
            @include s.button;
            transition: background-color 0.25s;
          }
          .introduction__button:hover {
            background-color: c.$dark-red;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .main__wrapper {
    .sections__wrapper {
      height: calc(2530px - 870 * s.$responsiveCalc);

      .introduction {
        .introduction__wrapper {
          .introduction__title {
            font-size: calc(44px - 6 * s.$responsiveCalc);
          }
          .introduction__fieldset {
            .introduction__description {
              margin-bottom: calc(5px + 40 * s.$responsiveCalc);
            }
          }
          .introduction__banner--imageWrapper {
            .introduction__banner--description {
              top: calc(27% - 12 * s.$responsiveCalc);

              .introduction__banner--descriptionText {
                font-size: calc(44px - 14 * s.$responsiveCalc);
              }
              .introduction__button {
                position: absolute;
                width: s.$responsiveButtonWidth;
                height: s.$responsiveButtonHeight;
                font-size: s.$responsiveButtonFontSize;
                margin-top: calc(6% - 2 * s.$responsiveCalc);
              }
            }
          }
          .introduction__item--wrapper {
            .introduction__item {
              height: calc(80px - 25 * s.$responsiveCalc);

              .introduction__item--imageWrapper {
                .introduction__item--image {
                  height: calc(58.5px - 15 * s.$responsiveCalc);
                }
              }
              .introduction__item--description {
                font-size: calc(14px - 1 * s.$responsiveCalc);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .main__wrapper {
    width: 100%;

    .sections__wrapper {
      height: calc(2050px - 800 * (1200px - 100vw) / 680);

      .introduction {
        .introduction__wrapper {
          .introduction__fieldset {
            .introduction__description {
              margin-bottom: calc(30px + 90 * (1200px - 100vw) / 680);
              font-size: calc(14px - 1 * (1200px - 100vw) / 680);
            }
          }
          .introduction__item--wrapper {
            grid-template-columns: 1fr 1fr 1fr;
          }
        }
      }
    }
  }
}
