@import 'colors';

@font-face {
    font-family: 'icomoon';
    src:  url('../etap_01_2/fonts/icomoon.ttf');
    src:  url('../etap_01_2/fonts/icomoon.eot') format('embedded-opentype'),
      url('../etap_01_2/fonts/icomoon.ttf') format('truetype'),
      url('../etap_01_2/fonts/icomoon.ttf') format('woff'),
      url('../etap_01_2/fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Metropolis";
    src: url("../etap_01_2/fonts/Metropolis-Regular.otf");
    font-weight: 400;
  }

 @font-face {
    font-family: "Metropolis";
    src: url("../etap_01_2/fonts/Metropolis-Bold.otf");
    font-weight: 700;
  }
  
.slider {
    background-color: $main-color;
}

.slidercontainer {
    position: relative;
    padding-bottom: 1%;
        .showSlide img {
            width: 1860px;
            height: 595px;
        }
}

.left, .right {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 1rem;
    border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.content {
    position: absolute;
    text-align: justify;
    justify-content: start;
    font-family: Metropolis;
    color: $white;
    top: 33%;
    left: 10%;
    width: 100%;
    font-size: 44px;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.text-bold {
    position: absolute;
    font-weight: 700;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}