@import "colors";

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.ttf") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Bold.otf");
  font-weight: 700;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1900px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.slider {
  position: relative;
  background-color: $main-color;
  .slider__element {
    .slider__element-image {
      width: 100%;
      height: 100%;
    }

    .slider__content {
      position: absolute;
      text-align: justify;
      justify-content: start;
      font-family: Metropolis;
      font-weight: 300;
      color: $white;
      top: 33%;
      left: 10%;
      font-size: 44px;
      z-index: 2;
      .slider__content-bold {
        position: absolute;
        font-weight: 700;
      }
    }

    .content__text {
      position: absolute;
      padding-top: 1rem;
      text-align: left;
      justify-content: start;
      font-family: Metropolis;
      font-size: 22px;
      font-weight: 300;
      color: $white;
      top: 45%;
      left: 10%;
      width: 20%;
      z-index: 2;
    }
  }

  .shadow-bg {
    position: absolute;
    width: 50%;
    height: 95%;
  }
}

.banner__button {
  cursor: pointer;
  background-color: $red;
  margin-top: 10%;
  color: $white;
  font-family: Metropolis;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 204px;
  height: 55px;
}

.left,
.right {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 2;
  background-color: $dark-gray;
  opacity: 0.7;
}

.right {
  right: 2rem;
  border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
  background-color: rgba(115, 115, 115, 0.8);
}

.fade_animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider__element {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.shadow-bg {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.01));
  z-index: 1;
}

.banners {
  background-color: $main-color;
  .banners__wrapper {
    display: flex;
    justify-content: space-between;
    .banner__element {
      position: relative;
      display: flex;
      margin: 0 auto;
      overflow: hidden;
      .banner__element-image {
        transition: transform 1s;
        z-index: 0;
      }

      .banner__button {
        background-color: transparent;
        border: 1px solid $white;
        transform: background-color 0.5s;
      }

      .banner__button:hover {
        background-color: $red;
        border: none;
      }

      .banner__text {
        position: absolute;
        padding-top: 1rem;
        text-align: left;
        font-family: Metropolis;
        font-size: 44px;
        font-weight: 700;
        color: $white;
        top: 25%;
        left: 5%;
        z-index: 2;
        span {
          font-weight: 300;
        }
      }
    }
    .banner__element:hover .banner__element-image {
      transform: scale(1.1);
    }
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
