@use "colors" as c;
@use "settings" as s;

.products {
  display: flex;
  width: 1530px;
  height: 1500px;
  font-family: Metropolis;
  color: c.$black;

  &__menu {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: c.$lighter-gray;
    width: 1530px;
    height: 55px;
    right: 0;

    &--item {
      display: flex;
      justify-content: space-between;
      width: 124px;
      font-size: 12px;
      font-weight: 400;
      padding-left: 15px;

      .icon-widok_01 {
        opacity: 20%;
      }
    }
    .products__menu--rightItems {
      display: flex;
      position: absolute;
      right: 0;

      .products__menu--rightItemWrapper {
        display: flex;
        font-display: row;

        .products__menu--select {
          font-family: Metropolis;
          width: 170px;
          height: 40px;
          border: none;
          background-color: c.$white;
        }

        .products__menu--rightItem {
          align-items: center;
          justify-content: space-around;
        }

        .quantity {
          width: 85px;
          height: 40px;
        }
      }
    }
  }
}

.products__items--wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 34%;
  width: 1530px;
  right: 0;

  .productsSlider__item {
    position: relative;
    width: 356px;
    height: 530px;
    background-color: c.$white;

    .productsSlider__item--image {
      position: absolute;
      left: 50%;
      top: 33%;
      transform: translate(-50%, -50%);
    }

    .productsSlider__item--description-wrapper {
      position: absolute;
      width: 100%;
      left: 50%;
      bottom: 20%;
      transform: translate(-50%);
      text-align: center;
      white-space: nowrap;
      line-height: 1.5em;
      transition: bottom 0.3s;

      .productsSlider__item--description {
        font-size: 14px;
        font-family: Metropolis;
        font-weight: 400;

        .productsSlider__item--description-bold {
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      .productsSlider__item--price {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 14px;
        font-family: Metropolis;
        font-weight: 700;
        height: 33px;

        .productsSlider__item--price-strikethrough {
          text-decoration: line-through;
          color: c.$gray;
          font-weight: 400;
        }
      }
    }

    .productsSlider__item--basket {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 10px;
      font-family: Metropolis;
      bottom: 10%;
      width: 100%;

      .productsSlider__item--inputWrapper {
        width: 100px;
        display: none;
        transition: display 0.7s;
        border: 1px solid c.$light-gray;

        .productsSlider__input {
          width: 54px;
          height: 50px;
          text-align: center;
          font-size: 14px;
          font-family: Metropolis;
          font-weight: 400;
          color: rgba(c.$black, 0.5);
          border: 1px solid #e1e2e8;
        }

        .productsSlider__input--minus,
        .productsSlider__input--plus {
          width: 30%;
          height: 50px;
          border: none;
          color: c.$darker-gray;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .productsSlider__item--basket-icon {
        display: none;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: c.$light-green;
        color: c.$white;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        transition: display 0.7s;
        cursor: pointer;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .products__items--wrapper {
    .productsSlider__item:hover .productsSlider__item--description-wrapper {
      bottom: 35%;
    }
    .productsSlider__item:hover .productsSlider__item--inputWrapper {
      display: flex;
    }
    .productsSlider__item:hover .productsSlider__item--basket-icon {
      display: flex;
    }
  }
}
