@use "colors" as c;
@use "settings" as s;

.productsSlider {
  position: relative;
  padding-top: 30px;
  width: 100%;
  height: 790px;

  .productsSlider__title {
    height: 71px;
    border-bottom: 1px solid c.$light-gray;

    .productsSlider__header {
      margin: 25px auto 0;
      font-family: Metropolis;
      font-weight: 700;
      font-size: 44px;
      text-align: center;
      height: 50px;
    }

    .underline {
      margin: 0 auto;
      width: 60px;
      height: 3px;
      background-color: c.$red;
      margin-top: 17px;
    }
  }

  .productsSlider__wrapper {
    position: relative;
    margin-top: 10px;
    width: 1860px;

    .productsSlider__slider {
      height: 530px;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 20px;

      .productsSlider__item {
        position: relative;
        width: 356px;
        height: 530px;
        background-color: c.$white;

        .productsSlider__item--image {
          position: absolute;
          left: 50%;
          top: 33%;
          transform: translate(-50%, -50%);
        }

        .productsSlider__item--description-wrapper {
          position: absolute;
          width: 100%;
          left: 50%;
          bottom: 20%;
          transform: translate(-50%);
          text-align: center;
          white-space: nowrap;
          line-height: 1.5em;
          transition: bottom 0.35s, opacity 1s;

          .productsSlider__item--description {
            font-size: 14px;
            font-family: Metropolis;
            font-weight: 400;

            .productsSlider__item--description-bold {
              font-weight: 700;
              text-transform: uppercase;
            }
          }

          .productsSlider__item--price {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: 14px;
            font-family: Metropolis;
            font-weight: 700;
            height: 33px;

            .productsSlider__item--price-strikethrough {
              text-decoration: line-through;
              color: c.$gray;
              font-weight: 400;
            }
          }
        }

        .productsSlider__item--basket {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 10px;
          font-family: Metropolis;
          bottom: 10%;
          width: 100%;

          .productsSlider__item--inputWrapper {
            width: 100px;
            display: none;
            transition: display 0.7s;
            border: 1px solid c.$light-gray;

            .productsSlider__input {
              width: 54px;
              height: 50px;
              text-align: center;
              font-size: 14px;
              font-family: Metropolis;
              font-weight: 400;
              color: rgba(c.$black, 0.5);
              border: 1px solid #e1e2e8;
            }

            .productsSlider__input--minus,
            .productsSlider__input--plus {
              width: 30%;
              height: 50px;
              border: none;
              color: c.$darker-gray;
              font-size: 20px;
              cursor: pointer;
            }
          }

          .productsSlider__item--basket-icon {
            display: none;
            position: relative;
            width: 50px;
            height: 50px;
            background-color: c.$light-green;
            color: c.$white;
            font-size: 25px;
            align-items: center;
            justify-content: center;
            transition: display 0.7s;
            cursor: pointer;
          }
        }
      }
    }

    .productsSlider__slider::-webkit-scrollbar {
      display: none;
    }

    .left,
    .right {
      position: absolute;
      color: c.$white;
    }

    .right {
      right: 0;
    }

    .left:hover,
    .right:hover {
      background-color: c.$darker-gray;
    }
  }

  .productsSlider__button {
    @include s.button;
    position: absolute;
    margin-top: 2rem;
    width: 318px;
    height: 55px;
    left: 50%;
    transform: translate(-50%);
    transition: background-color 0.25s;
  }
  .productsSlider__button:hover {
    background-color: c.$dark-red;
  }
}

@media (max-width: 767px) {
  .productsSlider {
    height: calc(800px - 280 * s.$mobileCalc);

    .productsSlider__button {
      width: calc(318px - 130 * s.$mobileCalc);
      height: calc(55px - 25 * s.$mobileCalc);
      font-size: calc(14.5px - 4 * s.$mobileCalc);
      bottom: 1.5rem;
    }

    .productsSlider__title {
      .productsSlider__header {
        font-size: calc(40px - 20 * s.$mobileCalc);
      }
    }

    .productsSlider__wrapper {
      margin: 0 auto;
      width: calc(480px - 320 * s.$mobileCalc);

      .left,
      .right {
        display: none;
      }

      .productsSlider__slider {
        height: calc(550px - 230 * s.$mobileCalc);

        .productsSlider__item {
          width: calc(480px - 320 * s.$mobileCalc);
          height: calc(540px - 250 * s.$mobileCalc);

          .productsSlider__item--description-wrapper {
            bottom: 37%;

            .productsSlider__item--description {
              font-size: calc(20px - 10 * s.$mobileCalc);
            }
            .productsSlider__item--price {
              font-size: calc(20px - 10 * s.$mobileCalc);
            }
          }

          .productsSlider__item--basket {
            bottom: calc(10% - 20 * s.$mobileCalc);
            gap: 15px;

            .productsSlider__item--inputWrapper {
              display: flex;
              height: calc(70px - 35 * s.$mobileCalc);
              width: calc(130px - 45 * s.$mobileCalc);

              .productsSlider__input {
                width: calc(65px - 15 * s.$mobileCalc);
                height: calc(70px - 35 * s.$mobileCalc);
                font-size: calc(2em - 7 * s.$mobileCalc);
              }

              .productsSlider__input--minus,
              .productsSlider__input--plus {
                height: calc(70px - 35 * s.$mobileCalc);
              }
            }

            .productsSlider__item--basket-icon {
              display: flex;
              width: calc(70px - 35 * s.$mobileCalc);
              height: calc(70px - 35 * s.$mobileCalc);
              font-size: calc(35px - 10 * s.$mobileCalc);
            }
          }

          .productsSlider__item--image {
            top: calc(28% - 3 * s.$mobileCalc);
            width: calc(270px - 100 * s.$mobileCalc);
            height: calc(270px - 100 * s.$mobileCalc);
          }
        }
      }

      /* .productsSlider__slider::-webkit-scrollbar {
        display: default;
      } */
    }
    .productsSlider__button:hover {
      background-color: c.$red;
    }
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .productsSlider {
    height: calc(790px - 130 * s.$responsiveCalc);

    .productsSlider__button {
      width: calc(318px - 20 * s.$responsiveCalc);
      height: calc(55px - 5 * s.$responsiveCalc);
      font-size: calc(14px - 1 * s.$responsiveCalc);
    }

    .productsSlider__title {
      .productsSlider__header {
        font-size: calc(44px - 7 * s.$responsiveCalc);
      }
    }

    .productsSlider__wrapper {
      width: calc(1860px - 700 * s.$responsiveCalc);
      margin: 0 auto;

      .productsSlider__slider {
        width: calc(1860px - 700 * s.$responsiveCalc);
        height: calc(530px - 120 * s.$responsiveCalc);

        .productsSlider__item {
          width: calc(356px - 140 * s.$responsiveCalc);
          height: calc(530px - 160 * s.$responsiveCalc);

          .productsSlider__item--basket {
            height: calc(50px - 20 * s.$responsiveCalc);
            bottom: calc(10% - 2.5 * s.$responsiveCalc);
          }
          .productsSlider__item--description-wrapper {
            bottom: calc(20% + 15 * s.$responsiveCalc);

            .productsSlider__item--description {
              font-size: calc(14px - 2 * s.$responsiveCalc);
            }
            .productsSlider__item--price {
              font-size: calc(14px - 2 * s.$responsiveCalc);
              height: calc(33px - 5 * s.$responsiveCalc);
            }
          }
          .productsSlider__item--image {
            width: calc(280px - 80 * s.$responsiveCalc);
            height: calc(280px - 80 * s.$responsiveCalc);
            top: calc(33% - 15 * s.$responsiveCalc);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .productsSlider {
    padding-top: 1%;

    .productsSlider__wrapper {
      margin: 0 auto;
      width: calc(910px - 650 * ((992px - 100vw) / 680));

      .productsSlider__slider {
        width: calc(910px - 650 * ((992px - 100vw) / 680));

        .productsSlider__item {
          width: calc(290px - 220 * ((992px - 100vw) / 680));
          height: calc(370px - 200 * ((992px - 100vw) / 680));

          .productsSlider__item--basket {
            gap: 5px;
            bottom: calc(10% - 2.5 * ((992px - 100vw) / 680));

            .productsSlider__item--inputWrapper {
              border: none;

              .productsSlider__input {
                width: 48px;
                height: calc(42px - 10 * ((992px - 100vw) / 680));
              }

              .productsSlider__input--minus,
              .productsSlider__input--plus {
                width: 23%;
                height: calc(42px - 10 * ((992px - 100vw) / 680));
              }
            }

            .productsSlider__item--basket-icon {
              height: calc(42px - 10 * ((992px - 100vw) / 680));
              width: 42px;
            }
          }
          .productsSlider__item--description-wrapper {
            bottom: calc(20% + 15 * ((1920px - 100vw) / 680));

            .productsSlider__item--description {
              height: calc(33px + 8 * ((1920px - 100vw) / 680));
            }
          }
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1400px) {
  .productsSlider {
    padding-top: 20px;

    .productsSlider__wrapper {
      width: calc(1320px - 645 * ((1400px - 100vw) / 680));
      margin: 0 auto;

      .productsSlider__slider {
        width: calc(1320px - 645 * ((1400px - 100vw) / 680));

        .productsSlider__item {
          width: calc(315px - 160 * ((1400px - 100vw) / 680));
          height: calc(440px - 170 * ((1400px - 100vw) / 680));

          .productsSlider__item--basket {
            gap: 5px;

            .productsSlider__item--inputWrapper {
              border: none;

              .productsSlider__input {
                width: 48px;
                height: 45px;
              }

              .productsSlider__input--minus,
              .productsSlider__input--plus {
                width: 24%;
                height: 45px;
              }
            }

            .productsSlider__item--basket-icon {
              height: 45px;
              width: 45px;
            }
          }

          .productsSlider__item--image {
            width: calc(270px - 70 * ((1920px - 100vw) / 680));
            height: calc(270px - 70 * ((1920px - 100vw) / 680));
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .productsSlider {
    .productsSlider__wrapper {
      .productsSlider__slider {
        .productsSlider__item:hover .productsSlider__item--description-wrapper {
          bottom: 35%;
        }
        .productsSlider__item:hover .productsSlider__item--inputWrapper {
          display: flex;
        }
        .productsSlider__item:hover .productsSlider__item--basket-icon {
          display: flex;
        }
      }
    }
  }
}
