@use "colors" as c;
@use "settings" as s;

.productsSlider {
  position: relative;
  padding-top: 30px;
  width: 100%;
  height: 851px;
  padding-bottom: 50px;

  .productsSlider__title {
    height: 71px;
    border-bottom: 1px solid c.$light-gray;

    .productsSlider__header {
      margin: 25px auto 0;
      font-family: Metropolis;
      font-weight: 700;
      font-size: 44px;
      text-align: center;
      height: 50px;
    }

    .underline {
      margin: 0 auto;
      width: 60px;
      height: 3px;
      background-color: c.$red;
      bottom: 0;
      margin-top: 17px;
    }
  }

  .productsSlider__wrapper {
    position: relative;
    margin-top: 10px;
    width: 1860px;

    .productsSlider__slider {
      display: flex;
      height: 530px;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .productsSlider__item {
        position: relative;
        width: 356px;
        height: 530px;
        background-color: c.$white;

        .productsSlider__item--image {
          position: absolute;
          left: 50%;
          top: 33%;
          transform: translate(-50%, -50%);
        }

        .productsSlider__item--description-wrapper {
          position: absolute;
          width: 100%;
          left: 50%;
          bottom: 20%;
          transform: translate(-50%);
          text-align: center;
          white-space: nowrap;
          line-height: 1.5em;
          transition: bottom 0.3s;

          .productsSlider__item--description {
            font-size: 14px;
            font-family: Metropolis;
            font-weight: 400;

            .productsSlider__item--description-bold {
              font-weight: 700;
              text-transform: uppercase;
            }
          }

          .productsSlider__item--price {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            font-size: 14px;
            font-family: Metropolis;
            font-weight: 700;
            height: 33px;

            .productsSlider__item--price-strikethrough {
              text-decoration: line-through;
              color: c.$gray;
              font-weight: 400;
            }
          }
        }

        .productsSlider__item--basket {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 10px;
          font-family: Metropolis;
          bottom: 10%;
          width: 100%;

          .productsSlider__item--inputWrapper {
            width: 100px;
            display: none;
            border: 1px solid c.$light-gray;
            transition: display 0.7s;

            .productsSlider__input {
              width: 54px;
              height: 50px;
              text-align: center;
              font-size: 14px;
              font-family: Metropolis;
              font-weight: 400;
              color: rgba(c.$black, 0.5);
              border: 1px solid #e1e2e8;
            }

            .productsSlider__input--minus,
            .productsSlider__input--plus {
              width: 25%;
              height: 50px;
              border: none;
              color: c.$darker-gray;
              font-size: 20px;
              cursor: pointer;
            }
          }

          .productsSlider__item--basket-icon {
            display: none;
            position: relative;
            width: 50px;
            height: 50px;
            background-color: c.$light-green;
            color: c.$white;
            font-size: 25px;
            align-items: center;
            justify-content: center;
            transition: display 0.7s;
          }
        }
      }
      .productsSlider__item:hover .productsSlider__item--description-wrapper {
        bottom: 35%;
      }
      .productsSlider__item:hover .productsSlider__item--inputWrapper {
        display: flex;
      }
      .productsSlider__item:hover .productsSlider__item--basket-icon {
        display: flex;
      }
    }

    .left,
    .right {
      position: absolute;
      background-color: rgba(c.$black, 0.5);
      color: c.$white;
    }

    .right {
      right: 0;
    }

    .left:hover,
    .right:hover {
      background-color: c.$darker-gray;
    }
  }

  .productsSlider__button {
    position: absolute;
    margin: 2.5rem auto;
    background-color: c.$red;
    width: 318px;
    height: 55px;
    left: 50%;
    transform: translate(-50%);
    border: none;
    text-transform: uppercase;
    color: c.$white;
    font-size: 14px;
    font-family: Metropolis;
    font-weight: 700;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .productsSlider {
    height: calc(900px - 300 * ((767px - 100vw) / 680));
    .productsSlider__button {
      width: calc(284px - 30 * ((767px - 100vw) / 680));
      height: calc(45px - 5 * ((767px - 100vw) / 680));
      font-size: calc(14px - 2 * ((767px - 100vw) / 680));
    }

    .productsSlider__title {
      .productsSlider__header {
        font-size: calc(40px - 20 * ((767px - 100vw) / 680));
      }
    }

    .productsSlider__wrapper {
      margin: 0 auto;
      width: calc(610px - 650 * ((767px - 100vw) / 680));

      .left,
      .right {
        display: none;
      }

      .productsSlider__slider {
        width: calc(610px - 650 * ((767px - 100vw) / 680));
        height: calc(530px - 250 * ((767px - 100vw) / 680));
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "a";

        .e,
        .d,
        .c,
        .b {
          display: none;
        }

        .productsSlider__item {
          width: calc(480px - 270 * ((767px - 100vw) / 680));
          height: calc(540px - 230 * ((767px - 100vw) / 680));
          position: absolute;
          left: 50%;
          transform: translate(-50%);

          .productsSlider__item--basket {
            bottom: calc(10% - 20 * ((767px - 100vw) / 680));

            .productsSlider__item--inputWrapper {
              border: none;
            }
          }

          .productsSlider__item--image {
            top: calc(28% + 10 * ((767px - 100vw) / 680));
            width: calc(270px - 80 * ((767px - 100vw) / 680));
            height: calc(270px - 80 * ((767px - 100vw) / 680));
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .productsSlider {
    height: calc(851px - 150 * ((1920px - 100vw) / 680));

    .productsSlider__button {
      width: calc(318px - 20 * ((1920px - 100vw) / 680));
      height: calc(55px - 5 * ((1920px - 100vw) / 680));
      font-size: calc(14px - 1 * ((1920px - 100vw) / 680));
    }

    .productsSlider__title {
      .productsSlider__header {
        font-size: calc(44px - 7 * ((1920px - 100vw) / 680));
      }
    }

    .productsSlider__wrapper {
      width: calc(1860px - 700 * ((1920px - 100vw) / 680));
      margin: 0 auto;

      .productsSlider__slider {
        width: calc(1860px - 700 * ((1920px - 100vw) / 680));
        height: calc(530px - 120 * ((1920px - 100vw) / 680));

        .productsSlider__item {
          width: calc(356px - 100 * ((1920px - 100vw) / 680));
          height: calc(530px - 160 * ((1920px - 100vw) / 680));

          .productsSlider__item--basket {
            height: calc(50px - 20 * ((1920px - 100vw) / 680));
            bottom: calc(10% - 2.5 * ((1920px - 100vw) / 680));
          }
          .productsSlider__item--description-wrapper {
            bottom: calc(20% + 15 * ((1920px - 100vw) / 680));

            .productsSlider__item--description {
              font-size: calc(14px - 2 * ((1920px - 100vw) / 680));
            }
            .productsSlider__item--price {
              font-size: calc(14px - 2 * ((1920px - 100vw) / 680));
              height: calc(33px - 5 * ((1920px - 100vw) / 680));
            }
          }
          .productsSlider__item--image {
            width: calc(270px - 80 * ((1920px - 100vw) / 680));
            height: calc(270px - 80 * ((1920px - 100vw) / 680));
            top: calc(33% - 15 * ((1920px - 100vw) / 680));
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .productsSlider {
    padding-top: 1%;

    .productsSlider__wrapper {
      margin: 0 auto;
      width: calc(910px - 650 * ((992px - 100vw) / 680));

      .productsSlider__slider {
        width: calc(910px - 650 * ((992px - 100vw) / 680));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "a b c";

        .e,
        .d {
          display: none;
        }
        .productsSlider__item {
          width: calc(290px - 220 * ((992px - 100vw) / 680));
          height: calc(370px - 200 * ((992px - 100vw) / 680));

          .productsSlider__item--basket {
            .productsSlider__item--inputWrapper {
              border: none;

              .productsSlider__input {
                width: 48px;
                height: 42px;
              }

              .productsSlider__input--minus,
              .productsSlider__input--plus {
                width: 23%;
                height: 42px;
              }
            }

            .productsSlider__item--basket-icon {
              height: 42px;
              width: 42px;
            }
          }
          .productsSlider__item--description-wrapper {
            bottom: calc(20% + 15 * ((1920px - 100vw) / 680));

            .productsSlider__item--description {
              height: calc(33px + 8 * ((1920px - 100vw) / 680));
            }
          }
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1400px) {
  .productsSlider {
    padding-top: 20px;

    .productsSlider__wrapper {
      width: calc(1320px - 645 * ((1400px - 100vw) / 680));
      margin: 0 auto;

      .productsSlider__slider {
        width: calc(1320px - 645 * ((1400px - 100vw) / 680));
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "a b c d";

        .e {
          display: none;
        }

        .productsSlider__item {
          width: calc(315px - 160 * ((1400px - 100vw) / 680));
          height: calc(440px - 170 * ((1400px - 100vw) / 680));

          .productsSlider__item--basket {
            .productsSlider__item--inputWrapper {
              border: none;

              .productsSlider__input {
                width: 48px;
                height: 45px;
              }

              .productsSlider__input--minus,
              .productsSlider__input--plus {
                width: 24%;
                height: 45px;
              }
            }

            .productsSlider__item--basket-icon {
              height: 45px;
              width: 45px;
            }
          }

          .productsSlider__item--image {
            width: calc(270px - 70 * ((1920px - 100vw) / 680));
            height: calc(270px - 70 * ((1920px - 100vw) / 680));
          }
        }
      }
    }
  }
}
