@use "colors" as c;
@use "settings" as s;

.products {
  display: flex;
  width: 1530px;
  height: 1800px;
  font-family: Metropolis;
  color: c.$black;

  &__menu {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: c.$lighter-gray;
    width: 1530px;
    height: 55px;
    right: 0;
    padding-left: 15px;

    &--item {
      display: flex;
      justify-content: space-between;
      width: 124px;
      font-size: 12px;
      font-weight: 400;

      .icon-widok_01 {
        opacity: 20%;
      }
    }

    .products__menu--rightItems {
      display: flex;
      position: absolute;
      right: 20px;
      gap: 30px;

      .products__menu--rightItemWrapper {
        display: flex;

        .products__menu--select {
          font-family: Metropolis;
          width: 170px;
          height: 40px;
          border: none;
          background-color: c.$white;
        }

        .products__menu--rightItem {
          align-items: center;
          justify-content: space-evenly;
          width: 50px;
        }

        .quantity {
          width: 85px;
          height: 40px;
        }
      }

      .pagerContainer {
        display: flex;
        gap: 5px;

        .pager__page {
          display: flex;
          width: 40px;
          height: 100%;
          align-items: center;
          justify-content: center;
          background-color: c.$white;
          color: c.$black;
          font-size: 12px;
          text-decoration: none;
          transition: background-color 0.2s, color 0.2s;
        }
        .pager__page:hover {
          background-color: c.$red;
          color: c.$white;
        }

        .pager__page--current {
          background-color: c.$red;
          color: c.$white;
        }
        .pager__arrow {
          font-size: 10px;
        }
      }
    }
  }

  .products__menu--bottom {
    bottom: 40px;
  }
}

.products__items--wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 30%;
  width: 1530px;
  right: 0;

  .productsSlider__item {
    position: relative;
    width: 356px;
    height: 530px;
    background-color: c.$white;

    .productsSlider__item--image {
      position: absolute;
      left: 50%;
      top: 33%;
      transform: translate(-50%, -50%);
    }

    .productsSlider__item--description-wrapper {
      position: absolute;
      width: 100%;
      left: 50%;
      bottom: 20%;
      transform: translate(-50%);
      text-align: center;
      white-space: nowrap;
      line-height: 1.5em;
      transition: bottom 0.3s;

      .productsSlider__item--description {
        font-size: 14px;
        font-family: Metropolis;
        font-weight: 400;

        .productsSlider__item--description-bold {
          font-weight: 700;
          text-transform: uppercase;
        }
      }

      .productsSlider__item--price {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 14px;
        font-family: Metropolis;
        font-weight: 700;
        height: 33px;

        .productsSlider__item--price-strikethrough {
          text-decoration: line-through;
          color: c.$gray;
          font-weight: 400;
        }
      }
    }

    .productsSlider__item--basket {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 10px;
      font-family: Metropolis;
      bottom: 10%;
      width: 100%;

      .productsSlider__item--inputWrapper {
        width: 100px;
        display: none;
        transition: display 0.7s;
        border: 1px solid c.$light-gray;

        .productsSlider__input {
          width: 54px;
          height: 50px;
          text-align: center;
          font-size: 14px;
          font-family: Metropolis;
          font-weight: 400;
          color: rgba(c.$black, 0.5);
          border: 1px solid #e1e2e8;
        }

        .productsSlider__input--minus,
        .productsSlider__input--plus {
          width: 30%;
          height: 50px;
          border: none;
          color: c.$darker-gray;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .productsSlider__item--basket-icon {
        display: none;
        position: relative;
        width: 50px;
        height: 50px;
        background-color: c.$light-green;
        color: c.$white;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        transition: display 0.7s;
        cursor: pointer;
      }
    }
  }

  .productsSlider__item:before {
    content: "";
    position: absolute;
    right: 0;
    top: 4%;
    height: 92%;
    border-right: 1px solid c.$light-gray;
  }

  .productsSlider__item:nth-child(4n):before {
    border-right: none;
  }

  .productsSlider__item:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 94%;
    border-bottom: 1px solid c.$light-gray;
  }

  .productsSlider__item:nth-last-child(-n + 4):after {
    border-bottom: none;
  }
}

@media all and (min-width: 768px) {
  .products__items--wrapper {
    .productsSlider__item:hover .productsSlider__item--description-wrapper {
      bottom: 35%;
    }
    .productsSlider__item:hover .productsSlider__item--inputWrapper {
      display: flex;
    }
    .productsSlider__item:hover .productsSlider__item--basket-icon {
      display: flex;
    }
  }
}
