@use "colors" as c;
@use "settings" as s;

.slider {
  position: relative;

  .slider__wrapper {
    position: relative;
    border: none;
  }

  .slider__element {
    z-index: 10;

    .slider__element-image {
      width: 100%;
      height: 100%;
    }

    .slider__content {
      position: absolute;
      font-family: Metropolis;
      font-weight: 300;
      color: c.$white;
      top: 25%;
      left: 7%;
      font-size: 44px;
      z-index: 2;
      width: 10em;
      height: 6em;

      .slider__content--bold {
        position: absolute;
        font-weight: 700;
      }

      .content__text {
        position: absolute;
        padding-top: 0.5rem;
        text-align: left;
        font-family: Metropolis;
        font-size: 22px;
        font-weight: 300;
        color: c.$white;
        z-index: 2;
      }
    }
  }

  .shadow-bg {
    @include s.shadow;
  }

  .banner__button {
    @include s.button;
    position: absolute;
    bottom: 0;
  }
}

.left,
.right {
  position: absolute;
  top: 53%;
  padding: 0.7em;
  margin-top: -22px;
  background-color: c.$light-gray;
}

.left:hover,
.right:hover {
  background-color: c.$dark-gray;
}

.fade_animation {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .slider {
    .slider__wrapper {
      display: flex;
      width: 100%;

      .right,
      .left {
        position: absolute;
        width: 4em;
        height: 4em;
        background-color: c.$darker-gray;
        color: c.$white;
      }

      .right {
        right: 0;
      }

      .left {
        left: 0;
      }

      .icon-icon_04,
      .icon-icon_05 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(1em - 12 * ((767px - 100vw) / 680));
        top: 50%;
      }
    }

    .slider__element {
      width: 100%;
      height: auto;

      .slider__element-image {
        width: 100%;
        height: auto;
      }

      .shadow-bg {
        position: absolute;
        left: 0;
        height: 99%;
        width: 95%;
      }

      .slider__content {
        font-size: calc(52px - 42 * ((767px - 100vw) / 680));
        top: 60%;
        left: 8%;

        .content__text {
          font-size: calc(24px - 19 * ((767px - 100vw) / 680));
          left: 0;
          padding-top: 0.25rem;
        }
      }

      .banner__button {
        display: none;
        align-items: center;
        justify-content: center;
        width: calc(14em - 20 * ((767px - 100vw) / 680));
        height: calc(4em - 10 * ((767px - 100vw) / 680));
        font-size: calc(14px - 10 * ((767px - 100vw) / 680));
        bottom: calc(2em - 30 * ((767px - 100vw) / 680));
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1919px) {
  .slider {
    .slider__element {
      .shadow-bg {
        height: calc(100% - 0.7 * ((1920px - 100vw) / 680));
      }
      .slider__content {
        font-size: calc(44px - 12 * ((1920px - 100vw) / 680));

        .banner__button {
          width: calc(204px - 50 * ((1920px - 100vw) / 680));
          height: calc(55px - 10 * ((1920px - 100vw) / 680));
          font-size: calc(14px - 3 * ((1920px - 100vw) / 680));
        }
        .content__text {
          font-size: calc(22px - 6 * ((1920px - 100vw) / 680));
        }
      }
    }
  }
}
